a:link, a:visited, a:hover, a:active{
    color:black;
}
*{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
#title h1{
    width:800px;
    background-color:cornflowerblue;
    color:aliceblue;
}
#title p{
    width:300px;
    background-color:cornflowerblue;
    color:aliceblue;
}
#top_header{
    grid-area:box1;
}

#navi{
    background-color:cornflowerblue;
    width: 500px;
    overflow: hidden;
    float:right;
    top:43px;
    right:0px;
}
#navi>li{
    width:25%;
    text-align: center;
    float:left;
}

ul li{
    display:inline;
    text-align: center;
    margin:0;
}
.submenu {
    height: 0;
    overflow: hidden;
    text-align:center;
    position:absolute;
}
.submenu li{
    display:block;
    background-color:lightpink;
}
#navi >li:hover {
    background-color:khaki;
}
#navi >li:hover .submenu{
    height:auto;
    overflow:visible;
}
#ad{
    width:180px;
    grid-area:box3;
    margin:5px;
}
.inform , .add{
    border:3px solid black; 
    border-radius:5%;
}
#login{
    width:150px;
    grid-area:box2;
    background-color:cornflowerblue;
    color:aliceblue;
    margin:5px;
}
.card{
    width:400px;
    grid-area:box4;
    background-color: aliceblue;
    border:3px solid black;
    margin:5px;
    border-radius:3%;
}
#foot{
    grid-area:box5;
}
#foot li{
    width:25%;
}
footer{
    background-color:cornflowerblue;
    display: inline-block;
    width:800px;
}

#wrapper{
    width:800px;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "box1 box1 box1"
    "box2 box4 box3"
    "box5 box5 ."
}

